<ion-view view-title="About TiM">
    <ion-header-bar>
        <h1 class="title">TiM</h1>

        <div class="buttons">
            <button class="button button-clear" ng-click="closeAbout()">Close</button>
        </div>
    </ion-header-bar>

    <ion-content>

        <div class="card">
            <div class="item item-divider">
                <h4 class="text-center">Developer</h4>
            </div>
            <div class="item item-text-wrap">
                <p class="text-center"><b>Persevierance Musaka : </b><br/>
                    I am a software developer at CoMech Metrology, Software Engineering BSc Hons graduate from De
                    Montfort University.
                    Spending my days with my hands in many different areas of the web development and mobile
                    applications. from backend programming (PHP mainly) to front end programming (HTML, CSS, JQUERY and
                    ANGULAR/JavaScript).</p>
                <hr/>
                <p class="text-center">I am extreemely passonate about web development and design on all its forms and
                    helping small bussinessed and artists build and improve their online presence. </p>
            </div>
            <div class="item item-divider">
                <p class="text-center"><i class="ion ion-ios-email-outline"></i> pmusaka@instantia.co.uk</p>
            </div>
        </div>
        <hr/>
        <div class="card">
            <div class="item item-divider">
                <h4 class="text-center">ABOUT TiM</h4>
            </div>
            <div class="item item-text-wrap">
                <p class="text-center"><b>Track-It Manager </b><br/>
                    This is a Bespoke management mobile application for keeping track of daily bussiness processes of
                    CoMech Metrology. The main puporse is to make data available at the finger tips about the current
                    status of the whole bussiness by providing live statistics about everything from Staff resources to
                    avarage productivity. This app is available in ios and android.</p>
                <hr/>
                <p class="text-center assertive">THIS APPLICATION IS FOR MANAGEMENT STAFF ONLY </p>
            </div>
            <div class="item item-divider">
                <p class="text-center">&copy instantia UK</p>
            </div>
        </div>
    </ion-content>
</ion-view>