<ion-view view-title="Browse">
  <ion-content>
    <div class="list card">
      <a href="#" class="item item-icon-left">
        <i class="icon ion-ios-home-outline"></i>
        Stats Track Home
      </a>

      <a class="item item-icon-left" href="#/app/about">
        <i class="icon ion-ios-help-outline"></i>
        About 
      </a>

      <a href="#/app/daily" class="item item-icon-left">
        <i class="icon ion-stats-bars"></i>
        Daily Stats
      </a>

      <a href="#/app/weekly" class="item item-icon-left">
        <i class="icon ion-arrow-graph-down-right"></i>
        Weekly Stats
      </a>

      <a href="#/app/monthly" class="item item-icon-left">
        <i class="icon ion-ios-pie-outline"></i>
        Monthly Stats
      </a>

      <a href="#/app/annual" class="item item-icon-left">
        <i class="icon ion-ios-pie"></i>
        Annual Stats
      </a>

      <a href="#/app/jira" class="item item-icon-left">
        <i class="icon ion-ios-monitor-outline"></i>
        IT Support Jira
      </a>

      <a href="#/app/staff" class="item item-icon-left">
        <i class="icon ion-ios-people-outline"></i>
        Staff
      </a>

      <a href="#/app/mechanical" class="item item-icon-left">
        <i class="icon ion-wrench"></i>
        Mechanical Lab
      </a>

      <a href="#/app/electrical" class="item item-icon-left">
        <i class="icon ion-ios-speedometer-outline"></i>
        Electrical Lab
      </a>

      <a href="#/app/server" class="item item-icon-left">
        <i class="icon ion-ios-pulse"></i>
        Server Status
      </a>
      <a href="#/app/calender" class="item item-icon-left">
        <i class="icon ion-ios-calendar"></i>
        Todays Calender
      </a>
    </div>

  </ion-content>
</ion-view>
