<ion-view view-title="CoMech Daily">
    <ion-content>
        <div class="card">
            <h4 class="text-center">Daily Statistics</h4>
        </div>

        <h4 class="text-center"><u>
            In Calibration
        </u></h4>

        <ul>
            <li class="item" ng-repeat="x in daily">{{x.Job_No}}</li>
        </ul>
    </ion-content>
</ion-view>