<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/about">
          About
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/staff">
          Staff
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/daily">
          Daily Stats
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/monthly">
          Monthly Stats
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/annual">
          Annual Stats
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/mechanical">
          Mechanical Lab
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/electrical">
          Electrical Lab
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/jira">
            IT Support
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/server">
            Server Status
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
