<ion-view view-title="Employees">
    <ion-content>
        <ul class="list">
            <li class="item" ng-repeat="x in names">
                {{x.First_Name}}  {{x.Last_Name}}
            </li>
        </ul>
    </ion-content>
</ion-view>